<html>
  <head>
    <title>Welcome Page</title>
  </head>
  <body>
    <h1>Welcome to my NestJS App</h1>
    <p>{{message}}</p>
    <button><a href='http://localhost:3000/auth/signin' id='btn-signin'>Sign In</a></button>
    <button><a href='http://localhost:3000/auth/signup' id='btn-signup'>Sign Up</a></button>
  </body>
</html>