<html>
  <head>
    <title>Welcome Page</title>
  </head>
  <body>
    <h1>Welcome to my Best NestJS App</h1>
    <h1><h1>TODO: write frontend part</h1></h1>
    <p>{{message}}</p>
    <button><a href='././' id='btn-signup'>Done</a></button>
  </body>
</html>