<html>
  <head>
    <title>Welcome Page</title>
  </head>
  <body>
    <p>Great - now you in system</p>
    <p>{{message}}</p>
    <button><a href='./logout' id='btn-enter'>Logout</a></button>
  </body>
</html>