<html>
  <head>
    <title>Welcome Page</title>
  </head>
  <body>
    <p>Base Users page...</p>
    <p>TODO:</p>
    <ol>
      <li><input type='checkbox' />show list all users</li>
      <li>add UI for
        <ol>

          <li><input type='checkbox' /> add user </li>
          <li><input type='checkbox' /> remove user </li>
          <li><input type='checkbox' /> update user </li>
        </ol>
      </li>
    </ol>
    <button type='button'><a href='./users/new' id='btn-signin'>Add New</a></button>
    <button><a href='./'>Back</a></button>
  </body>
</html>