<html>
  <head>
    <title>Welcome Page</title>
  </head>
  <body>
    <p>Matrix & Node find you...</p>
    <a href='https://docs.nestjs.com/middleware' target='blank'>DOCs</a><br />
    <button><a href='./users'>Users page</a></button>
    <p>{{message}}</p>
    <button><a href='./auth' id='btn-enter'>Login</a></button>
    <button><a href='./new' id='btn-enter'>Register</a></button>
  </body>
</html>