<html>
  <head>
    <title>Welcome Page</title>
  </head>
  <body>
    <p>Matrix & Node find you...</p>
    <a href='https://docs.nestjs.com/middleware' target='blank'>DOCs</a><br />
    <button><a href='http://localhost:3000/users'>Users page</a></button>
    <p>{{message}}</p>
    <button><a href='http://localhost:3000/auth' id='btn-enter'>Login or
        Register page</a></button>
  </body>
</html>